APP_URL=https://integracjastudencka.pl
DB_DRIVER=mysql
DB_HOST=localhost
DB_DATABASE=nazwa_bazy_z_directadmin
DB_USERNAME=uzytkownik_bazy
DB_PASSWORD=haslo_bazy
MAIL_MAILER=smtp
MAIL_FROM_ADDRESS=integracja@integracjastudencka.pl
MAIL_FROM_NAME=Integracja Studencka
CONTACT_TO_ADDRESS=kontakt@integracjastudencka.pl
SMTP_HOST=mail.integracjastudencka.pl
SMTP_PORT=587
SMTP_USERNAME=integracja@integracjastudencka.pl
SMTP_PASSWORD=haslo_do_skrzynki
SMTP_ENCRYPTION=tls
