.env
storage/logs/*
!storage/logs/.gitkeep
storage/sessions/*
!storage/sessions/.gitkeep
storage/*.sql
storage/backups/*
storage/seed-*.php
public/uploads/*
!public/uploads/.gitkeep
!public/uploads/events/
public/uploads/events/*
!public/uploads/events/.gitkeep
!public/uploads/clubs/
public/uploads/clubs/*
!public/uploads/clubs/.gitkeep
!public/uploads/partners/
public/uploads/partners/*
!public/uploads/partners/.gitkeep
